@page
@model TinyAmazon.Pages.CheckoutCompletedModel
@{
}
<div class="text-center">
    <h2>Thanks! Your order was completed.</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>