@model BooksViewModel
    <br /><br />
    <h3 class="text-light">Bookstore Selection</h3>

@foreach (Book b in Model.Books)
{
    <partial name="BookSummary" model="b" />
}

<div page-turn="@Model.PageInfo" page-action="Index"
     page-class="btn" page-class-normal="bg-light"
     page-class-selected="btn-primary" class="btn-group pull-right m-1" 
     page-class-enabled="true"></div>

