<!DOCTYPE html>

<html>

<head>
    <title>TinyAmazon Admin</title>
    <link href="~/lib/css/boostrap.min.css" rel="stylesheet" />
    <base href="/" />
</head>
<body>
    <component type="typeof(TinyAmazon.Pages.Admin.Routed)" render-mode="Server" />
    <script src="/_framework/blazor.server.js"></script>
</body>
</html>