@page "/admin"

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

@model TinyAmazon.Pages.Admin.IndexModel
@{
}

<!DOCTYPE html>

<html>

<head>
    <title>TinyAmazon Admin</title>
    <link href="~/lib/css/boostrap.min.css" rel="stylesheet" />
    <base href="/" />
</head>
<body class="bg-black">
    <component type="typeof(TinyAmazon.Pages.Admin.Routed)" render-mode="Server" />
    <script src="/_framework/blazor.server.js"></script>
</body>
</html>