<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TinyAmazon</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="bg-dark text-light">

    <div class="container">
        <header class="text-uppercase">
            <h1>Welcome to Tiny Amazon</h1>
        </header>
        <div class="col-4">

        </div>
        <main role="main" class="col-4">
            @RenderBody()
        </main>
        <div class="col-4">

        </div>
        <footer>
            <h3>Trademark TayBull</h3>
        </footer>
    </div>

</body>
</html>
