<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TinyAmazon</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="bg-dark">

    <div class="container">
        <header class="text-uppercase text-light">
            <h1>Welcome to Tiny Amazon</h1>
        </header>
        <div class="row m-1 p-1">

            <div id="categories" class="col-3">
                <vc:categories></vc:categories>
            </div>
            <div class="col-9">
                <main role="main">
                    @RenderBody()
                </main>
            </div>
            
        </div>
        <footer>
            <h3>Trademark TayBull</h3>
        </footer>
    </div>

</body>
</html>
